<!--navbar.component.html-->

<igx-navbar
  title="Udemy Angular 9 Course"
  actionButtonIcon="menu"
  [isActionButtonVisible]="true"
>

<igx-select [value]="lang" (onSelection)='langChange.emit($event.newSelection.value)'> 
  <igx-select-item value="tr">Türkçe</igx-select-item>
  <igx-select-item value="en">İngilizce</igx-select-item> 
</igx-select>


  <igx-icon>search</igx-icon>
  <igx-icon (click)="toggleLogin()">account_circle</igx-icon>
  <igx-icon>more_vert</igx-icon>

  <igx-action-icon>
    <igx-icon class="customIcon" routerLink="home">home</igx-icon>
  </igx-action-icon>
</igx-navbar>
